<?xml version="1.0" encoding="utf-8"?>
<!--
	This is used by the VS2013/2015 project.  The project-specific VSSpellChecker2017AndLater.project.json file is
	used by the VS2017 project to contain the 2017-specific package references.  The references to these assemblies
	are manually added in the VS2017 project as they need to be copied locally.  Unfortunately, NuGet won't let you
	have project-specific package.config files and I don't want a separate branch just to manage the 2017 version of
	the project because of one file.  It's not perfect but it works.
-->
<packages>
  <package id="HtmlAgilityPack" version="1.8.5" targetFramework="net45" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net45" />
</packages>