<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.8.7" targetFramework="net45" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net45" />
  <package id="NuGet.CommandLine" version="4.7.1" targetFramework="net45" developmentDependency="true" />
</packages>