<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.0.26228" targetFramework="net46" />
</packages>