# Top-most EditorConfig file
root = true

# Don't use tabs for indentation unless otherwise overridden
[*]
guidelines = 80, 114
indent_style = space
end_of_line = crlf
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# VSSPELL: Spell checker settings for all files
vsspell_section_id = 995d8dbaf7e2452e96919e5386d72ba9
vsspell_exclusion_expressions_995d8dbaf7e2452e96919e5386d72ba9 = [a-z]{2}-([A-Z]{2}|Cyrl|Latn)(?@@PND@@/Options/None)

# XML files of various types
[*.{aml,asax,ascx,asmx,asp,aspx,axml,config,content,cshtml,csproj,database,datasource,dbml,disco,discomap,dtsx,edmx,exclude,fxcop,htm,html,items,layout,maml,manifest,master,msha,myapp,nunit,nuspec,proj,projitems,props,publishproj,pubxml,rdl,rdlc,resx,ruleset,settings,shfbproj,shproj,sitemap,snippets,soap,svc,svcinfo,svcmap,targets,tasks,tokens,vbhtml,vbproj,vcxproj,vcxproj.filters,vsct,vsixmanifest,vstemplate,webinfo,wsdl,xaml,xamlcfg,xml,xsd,xsl,xslt,xsx}]
indent_style = tab
